<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#32aae1" />
    <title>BAXI Music | {{ id }} </title>
</head>
<style>
    /** 
    * Default styles 
    */

    /*
 * Variables
 */

    :root {
        --card-padding: 24px;
        --card-height: 370px;
        --card-width: 300px;
        --color-blacktransparent: #FFF;
        --card-skeleton: linear-gradient(var(--color-blacktransparent), var(--card-height), transparent 0);
        --avatar-size: 32px;
        --avatar-position: var(--card-padding) var(--card-padding);
        --avatar-skeleton: radial-gradient(circle 16px at center, #e0e0e0 99%, transparent 0);
        --title-height: 32px;
        --title-width: 200px;
        --title-position: var(--card-padding) 180px;
        --title-skeleton: linear-gradient(#e0e0e0 var(--title-height), transparent 0);
        --desc-line-height: 16px;
        --desc-line-skeleton: linear-gradient(#e0e0e0 var(--desc-line-height), transparent 0);
        --desc-line-1-width: 230px;
        --desc-line-1-position: var(--card-padding) 242px;
        --desc-line-2-width: 180px;
        --desc-line-2-position: var(--card-padding) 265px;
        --footer-height: 40px;
        --footer-position: 0 calc(var(--card-height) - var(--footer-height));
        --footer-skeleton: linear-gradient(var(--color-blacktransparent), var(--footer-height), transparent 0);
        --blur-width: 200px;
        --blur-size: var(--blur-width) calc(var(--card-height) - var(--footer-height));
    }

    /* * Card Skeleton for Loading */
    .content-loader .top {
        height: var(--card-height);
    }

    .content-loader .top:empty::after,
    .content-loader .top:empty::before {
        width: var(--card-width);
        content: "";
        display: inline-block;
        margin-right: 24px;
        height: 100%;
        border-radius: 6px;
        box-shadow: 0 10px 45px rgba(0, 0, 0, .1);
        background-image: linear-gradient(90deg, rgba(211, 211, 211, 0) 0, var(--color-blacktransparent) 50%, rgba(211, 211, 211, 0) 100%), var(--title-skeleton), var(--desc-line-skeleton), var(--desc-line-skeleton), var(--avatar-skeleton), var(--footer-skeleton), var(--card-skeleton);
        background-size: var(--blur-size), var(--title-width) var(--title-height), var(--desc-line-1-width) var(--desc-line-height), var(--desc-line-2-width) var(--desc-line-height), var(--avatar-size) var(--avatar-size), 100% var(--footer-height), 100% 100%;
        background-position: -150% 0, var(--title-position), var(--desc-line-1-position), var(--desc-line-2-position), var(--avatar-position), var(--footer-position), 0 0;
        background-repeat: no-repeat;
        animation: loading 1.5s infinite;

    }

    @keyframes loading {
        to {
            background-position: 350% 0, var(--title-position), var(--desc-line-1-position), var(--desc-line-2-position), var(--avatar-position), var(--footer-position), 0 0;
        }
    }

    @keyframes fade-in {

        /* You could think of as "step 1" */
        0% {
            opacity: 0;
        }

        /* You could think of as "step 2" */
        100% {
            opacity: 1;
        }
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    hr,
    dl,
    dd,
    ol,
    ul,
    figure {
        margin: 0;
        padding: 0;
    }

    h1 {
        display: block;
        margin-bottom: 20px;
        font-size: 2em;
        width: 100%;
        color: #7b7b7b;
    }

    h2 {
        color: #000;
    }

    /**
 * Clearfix
 */
    .clearfix {

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    /**
 * Header styling
 */
    header {
        padding: 10px;
        height: 54px;
        background: #FFF;
        flex: 1 100%;
    }

    header img {
        max-width: 100px;
        max-height: 80px;
        display: inline-block;
    }

    header nav,
    header h2 {
        display: inline-block;
    }

    header ul li {
        display: inline;
        border-right: 1px solid;
    }

    .router-link-active {
        font-weight: 600;
        color: #000;
    }

    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    height: 80px;
    line-height: 54px;
    }

    header div a:visited {
        color: #000;
    }

    /**
 * Buttons
 */
    .buttons {
        position: relative;
        top: 85px;
        padding: 0;
        margin: 0 auto;
    }

    .buttons button {
        background: transparent;
        padding: 10px 20px;
        border-radius: 100%;
        box-shadow: none;
        border: 22px solid #ffffff;
        color: #000;
        height: 180px;
        width: 180px;
        font-size: 90px;
        margin-top: -200px;
        margin-left: 147px;
        line-height: 100%;
        opacity: 0.3;
    }

    .buttons button.stop {
        font-size: 30px;
        border: none;
        opacity: 0.3;
    }

    .buttons button.stop {
        font-size: 30px;
        border: none;
        opacity: 0.3;
        margin-top: -40px;
    }

    .buttons button:hover {
        opacity: 1;
    }

    /**
 * Styling for feed content
 */
    .content {
        min-height: 90vh;
        display: block;
        margin: 0 auto;
        max-width: 90vw;
        padding: 20px;
        text-align: left;

    }

    .content .result {
        width: var(--card-width);
        display: inline-block;
        margin: 0 var(--card-padding) var(--card-padding) 0;
        background-color: #01162d;
        text-align: left;
        overflow: hidden;
        color: #000;
        height: var(--card-height);
        animation: fade-in 5s;
        border-radius: 6px;
        background-size: 100%;
        background-repeat: no-repeat;
        filter: brightnes(0.9);
    }
    
    .content .result:hover{
        filter: brightnes(1);
    }

    .content .result:hover .description {
        height: 230px;
        transition-property: height;
        transition-duration: .2s;
    }

    .content .result:hover section.description {
        display: block;
    }

    .content .result .rating {
        font-size: 10em;
        font-weight: bold;
        color: #ffffff8f;
        position: relative;
        float: left;
        height: 0;
        margin-left: -39px;
        margin-top: 24px;
        line-height: 27px;
        letter-spacing: -26px;
        z-index: 1;
        text-overflow: clip;
        text-align: left;
    }

    .content .result .description {
        padding: 10px;
        line-height: 1.3;
        position: relative;
        height: 300px;
    }

    .content .result .description a {
        text-decoration: none;
        color: #fff;
        background: gray;
        padding: 2px 9px;
        border-radius: 6px;
    }

    .result img {
        border-radius: 100%;
        width: 36px;
        height: 36px;
        margin: 10px;
        float: left;
    }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.3s;
    }

    .fade-enter,
    .fade-leave-to {
        transition: opacity 0;
    }

    .spacing {
        margin-right: 10px;
    }

    .card-body {
        padding: 1rem;
    }
    
    .card{
        
       border: 0px !important; 
    border-radius: 0 !important; 
    }
</style>

<body>

    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>