<template>
    <div class="row">
        <h1>{{ id }}</h1>
        <div class="top">
            <div v-for="result in results" class="result" v-bind:style="{ 'background-image': 'url(' + result.artworkUrl100 + ')' }">
                <section class="description">
                    <div class="buttons">
                        <button @click="play(result.previewUrl)">&#9658;</button>
                        <button class="stop" @click="stop(result.previewUrl)">&#9616;&#9616;</button>
                    </div>
                </section>
                <div>
                    <b-card>
                        <b-card-image>
                            <img :src="result.artworkUrl100">
                        </b-card-image>
                        <b-card-text>
                            <b>{{result.trackName}}</b><br />
                            <a v-bind:href="'categories/'+result.artistName">{{ result.artistName }}</a>
                        </b-card-text>

                        <b-button href="javascript:;" variant="primary">{{result.releaseDate | formatDate}}</b-button>
                    </b-card>
                </div>



            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

    export default {
        name: 'category',

        data: function() {
            return {
                id: 0,
                results: [],
                coin: {}
            }
        },
        mounted: function() {
            this.fetchData()
        },
        created() {
            this.fetchData()
        },

        watch: {
            '$route': 'fetchData'
        },
        beforeRouteEnter(to, from, next) {
            axios
                .get("https://itunes.apple.com/search?term=$music&limit=10&media=music")
                .then((res) => {
                    next((vm) => vm.fetchData(res));
                })
                .catch((err) => {
                    console.error(err);
                });
        },

        methods: {
            fetchData() {
                this.id = this.$route.params.id;
                this.loading = true
                console.log('Route', this.$route);
                axios.get('https://itunes.apple.com/search?term=$' + this.$route.params.id + '&limit=30&media=music')
                    .then(response => {
                        this.results = response.data.results;
                        console.log('Request successful', response.data.results);
                        console.log('Route', this.$route);
                        this.id = this.$route.params.id;
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            }
        }
    }
</script>