<template>
    <div class="row">
        <h1>{{ id }}</h1>
        <div class="top">
             <b-nav pills>
    <b-nav-item to="/categories/Jazz">Jazz</b-nav-item>
    <b-nav-item to="/categories/Soul">Soul</b-nav-item>
    <b-nav-item to="/categories/Rap">Rap</b-nav-item>
    <b-nav-item to="/categories/Ambient">Ambient</b-nav-item>
    <b-nav-item to="/categories/Techno">Techno</b-nav-item>
    <b-nav-item to="/categories/Dub">Dub</b-nav-item>
  </b-nav>
        
            <h2> Top 10 artists</h2>
            <div v-for="(entry , index) in feed" class="">
                <!-- Name of song -->
                <b-badge v-bind:href="'categories/'+entry['im:artist'].label">{{index + 1}} {{ entry["im:artist"].label }}</b-badge>
            </div>
            
            <h2> Top 10 category</h2>
            <div v-for="(entry , index) in feed" class="">
        

                 <b-badge v-bind:href="'categories/'+entry.category.attributes.label">{{index + 1}} {{ entry.category.attributes.label }}</b-badge>
                
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'app',
        data: function() {
            return {
                //Array of objects to hold feed
                feed: [],
                id: 'Categories',
            };
        },
        computed: {
            feeds() {
                return Object.values(this.feed).map(({
                    id,
                    category,
                    title,
                    index
                }) => ({
                    id,
                    category,
                    title,
                    index,
                }))
            }
        },
        // mounted executed on beginning
        mounted: function() {
            //method display will execute at pageload
            this.display()

        },
        methods: {
            //To show feed on page load
            display: function() {
                this.feed = [];
                fetch('https://itunes.apple.com/gb/rss/topsongs/limit=10/json')
                    .then(res => res.json())
                    .then(res => {
                        this.feed = res.feed.entry;
                        console.log('Request successful', res.feed.entry);
                    });
            },
            // Function to play song form itunes
            play: function(s) {
                if (this.audio) {
                    this.audio.pause();
                    this.audio.currentTime = 0;
                }
                this.audio = new Audio(s);
                this.audio.play();
            },
            stop: function(s) {
                this.audio.pause();
            },
        }
    }
</script>