            <template>
<div>
                <div class="header">
                    <h1>{{ id }} {{ term }}</h1>
                     <div class="searchbar">
            <input v-model="term" type="search">
            <button @click="search">Search</button>
                </div>
                    <div class="row">
                    <div class="top">
                        <div v-for="result in results" class="result" v-bind:style="{ 'background-image': 'url(' + result.artworkUrl100 + ')' }">

                            <section class="description">
                       
                                <div class="buttons">
                                    <button @click="play(result.previewUrl)">&#9658;</button>
                                    <button class="stop" @click="stop(result.previewUrl)">&#9616;&#9616;</button>
                                </div>
                            </section>
                            <div>
                                <b-card>
                                    <b-card-image>
                                        <img :src="result.artworkUrl100">
                                    </b-card-image>
                                    <b-card-text>
                                        <b>{{result.trackName}}</b><br />
                                        <a v-bind:href="'categories/'+result.artistName">{{result.artistName}}</a>
                                        {{result.releaseDate | formatDate}}<br />
                                    </b-card-text>

                                   
                                </b-card>
                            </div>
                            
                        </div>
                        <div v-if="noResults">
            Sorry, but no results were found. I blame Apple.
        </div>

        <div v-if="searching">
            <i>Searching...</i>
        </div>
                    </div></div>
                </div></div>
            </template>

<style>
</style>
<script>
    import axios from 'axios'

    export default {
        name: 'app',
        data: function() {
            return {
                // Search term
                term: '',
                id: 'Search for your favourite artists',

                //Array of objects to hold search results 
                results: [],
                noResults: false,
                searching: false,
                audio: null,

                //Array of objects to hold feed
                feed: [],
            };
        },
        // mounted executed on beginning
        mounted: function() {
            //method display will execute at pageload
            this.search();
            axios.get('https://itunes.apple.com/search?term=${encodeURIComponent(this.term)}&limit=30&media=music')
                .then(response => {
                    this.results = response.data.results
                })

        },
        methods: {
            //To show feed on page load

            //To perform search in iTunes api
            search: function() {
                //Pause audio
                if (this.audio) {
                    this.audio.pause();
                    this.audio.currentTime = 0;
                }

                //Results for search querry
                this.results = [];
                this.searching = true;
                fetch(`https://itunes.apple.com/search?term=${encodeURIComponent(this.term)}&limit=10&media=music`)
                    .then(res => res.json())
                    .then(res => {
                        this.searching = false;
                        this.results = res.results;
                        this.noResults = this.results.length === 0;
                    });
            },

            // Function to play song form itunes
            play: function(s) {
                if (this.audio) {
                    this.audio.pause();
                    this.audio.currentTime = 0;
                }
                this.audio = new Audio(s);
                this.audio.play();
            },
        }
    }
</script>