<template>
    <div class="row">
        <h1>{{ id }}</h1>
        <div class="top">
            <div v-for="(entry , index) in feed" class="result" v-bind:style="{ 'background-image': 'url(' + entry['im:image'][2]['label'] + ')' }">
                
                                <section class="description">
<div class="rating">{{index + 1}}</div>   
                                    <div class="buttons">
                    <button @click="play(entry.link[1].attributes.href)">&#9658;</button>
                    <button class="stop" @click="stop(entry.link[1].attributes.href)">&#9616;&#9616;</button>
                </div>
                </section>
                <div>
  <b-card>
    <b-card-image>
      <img :src="entry['im:image'][2]['label']">
    </b-card-image>  
    <b-card-text>
      <b>{{ entry["im:name"].label }}</b><br/>
      <a v-bind:href="'categories/'+entry['im:artist'].label">{{ entry["im:artist"].label }}</a>
    </b-card-text>

    <b-button href="javascript:;" variant="primary">Buy: {{ entry["im:price"].label }}</b-button>
    <a v-bind:href="'categories/'+entry.category.attributes.label">{{ entry.category.attributes.label }}</a>
  </b-card>
</div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'app',
        data: function() {
            return {
                //Array of objects to hold feed
                feed: [],
                id: 'Top 100 songs from UK',
            };
        },
        computed: {
            feeds() {
                return Object.values(this.feed).map(({
                    id,
                    category,
                    title,
                    index
                }) => ({
                    id,
                    category,
                    title,
                    index,
                }))
            }
        },
        // mounted executed on beginning
        mounted: function() {
            //method display will execute at pageload
            this.display()

        },
        methods: {
            //To show feed on page load
            display: function() {
                this.feed = [];
                fetch('https://itunes.apple.com/gb/rss/topsongs/limit=100/json')
                    .then(res => res.json())
                    .then(res => {
                        this.feed = res.feed.entry;
                        console.log('Request successful', res.feed.entry);
                    });
            },
            // Function to play song form itunes
            play: function(s) {
                if (this.audio) {
                    this.audio.pause();
                    this.audio.currentTime = 0;
                }
                this.audio = new Audio(s);
                this.audio.play();
            },
            stop: function(s) {
                this.audio.pause();
            },
        }
    }
</script>