<template>

<div>
  <b-navbar toggleable="lg" type="light" variant="white">
    <b-navbar-brand href="#">
        <router-link :to="{ name: 'Home' }" class="pull-left">
            <img src="../assets/logo.png" height="48px;" />
        </router-link>
        </b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item :to="{ name: 'Search' }">Search</b-nav-item>
        <b-nav-item :to="{ name: 'TopSongs' }">Songs</b-nav-item>
        
          <b-nav-item :to="{ name: 'TopAlbums' }">Albums</b-nav-item>
          <b-nav-item :to="{ name: 'Categories' }">Categories</b-nav-item>
            <b-nav-item :to="{ name: 'Artist' }">Artist</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
            <div class="searchbar">
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search" v-model="term" type="search"></b-form-input>
          <b-button @click="search">Search</b-button>    
        </div>
        </b-nav-form>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<style>
.navbar {
    box-shadow: 0 10px 30px -2px rgba(0,0,0,.2);
}
</style>

<script>
    export default {
        name: 'Navigation',
        data() {
            return {
                links: [{
                        id: 0,
                        text: 'Hello World',
                        page: '/HelloWorld'
                    },
                    {
                        id: 1,
                        text: 'Home',
                        page: '/Home'
                    },
                    {
                        id: 2,
                        text: 'About',
                        page: '/About'
                    },
                    {
                        id: 3,
                        text: 'Contact',
                        page: '/Contact'
                    },
                    {
                        id: 4,
                        text: 'Artist',
                        page: '/Artist'
                    }
                ]
            }
        }
    }
</script>