<template>
    <div id="app">
        <Navigation></Navigation>
        <transition name="fade" mode="out-in" >
        <div class="content">
            <div class="content-loader">
                <router-view :key="$route.fullPath"></router-view>
            </div>
        </div>
        </transition>
    </div>
</template>

<script>
    import Navigation from '@/components/Navigation'
    
    export default {
        name: 'app',
        components: {
            'Navigation': Navigation
        }
    }
</script>